<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div align="center"><%= gravatar_for @user, size: 150 %></div>
<br>
<br>
<br>
<br>
<br>
<% if logged_in? && current_user == @user then %>
	<%= link_to "Edit account", edit_user_path(@user), :class=>"btn btn-sm color-white" %>
<% end %>
<hr>
<h4><%= @user.username %>'s objs</h4>
<% @user.objs.each do |obj| %>
	<%= obj.id %>
	<%= obj.name %>
	<%= obj.obj_type %>
	<%= obj.universe.name %>
	<br>
<% end %>
<h4><%= @user.username %>'s universes</h4>
<% @user.universes.each do |universe| %>
	<%= universe.id %>
	<%= universe.name %>
	<br>
<% end %>