<% if @obj.errors.any? %>
	<% @obj.errors.full_messages.each do |msg| %>
		<% alert "danger" do %>
			<%= msg %>
		<% end %>
	<% end %>
<% end %>

<% universes = [] %>
<% universes_objs = {} %>
<% Universe.all.each do |universe| %>
	<% if universe.users.include?(current_user) %>
		<% universes.push([universe.name, universe.id]) %>
		<% universe_objs = [] %>
		<% universe.objs.each do |obj| %>
			<% universe_objs.push([obj.name, obj.id]) %>
		<% end %>
		<% universes_objs[universe.id] = universe_objs %>
	<% end %>
<% end %>

<%= form_for @obj do |f| %>
	<div id="fields_div" class="feild-frame-container">
		<div class="feild-frame float-left">
			<hr class="size-fullwidth"> <br>
			<%= f.label :name %> <br>
			<%= f.text_field :name, :class => "input size-fullwidth" %> <br>
			
			<%= f.label :obj_type %> <br>
			<%= f.select :obj_type, ["Charactrer", "Location", "Item"], {}, :class => "select size-fullwidth" %> <br>
			
			<%= f.label :universe_id %> <br>
			<% if universes.length > 0 then %>
				<%= f.select :universe_id, options_for_select(universes, universes[0]), {}, :class => "select size-fullwidth", :onchange => "setOptions('new_link_field_obj', getSelectOptions(#{universes_objs.to_json}));" %> <br>
			<% else %>
				<%= f.select :universe_id, options_for_select([["Please create a universe before creating objects", "0"]], disabled: ["Please create a universe before creating objects", "0"]), {}, :class => "select size-fullwidth" %> <br>
			<% end %>
		</div>
		<% @obj.data.each.with_index do |data, i| %>
			<div id="data_feilds[<%= i %>]" class="feild-frame float-left">
				<% if data[:timeframes] then %>
					<div id="data_header_span[<%= i %>]">
						<hr class="size-fullwidth"> <br>
						<% if data[:type] == "text" then %>
							<input name="obj[data_feilds_type][]" type="hidden" value="text">
						<% elsif data[:type] == "link" then %>
							<input name="obj[data_feilds_type][]" type="hidden" value="link">
						<% end %>
						<label>Name</label> <br>
						<input name="obj[data_feilds_name][]" class="input size-fullwidth" value="<%= data[:name] %>"> <br>
					</div>
					<% data[:values].each_with_index do |value, time_frame_id| %>
						<div id="time_frame[<%= i %>][<%= time_frame_id %>]" style="display: <%= time_frame_id==0 ? "block" : "none" %>">
							<% if data[:type] == "text" then %>
								<%= submit_tag 'Previous Timeframe', :class => "btn size-halfwidth float-left", :type => 'button', :onclick => "toggleElementsDisplay(['time_frame[#{i}][#{time_frame_id}]', 'time_frame[#{i}][#{time_frame_id>0 ? time_frame_id-1 : data[:values].length-1}]']);" %> <%= submit_tag 'Next Timeframe', :class => "btn size-halfwidth float-left", :type => 'button', :onclick => "toggleElementsDisplay(['time_frame[#{i}][#{time_frame_id}]', 'time_frame[#{i}][#{time_frame_id<data[:values].length-1 ? time_frame_id+1 : 0}]']);" %> <br>
								<div id="time_frame_span[<%= i %>][<%= time_frame_id %>]">
									<label>Start:&nbsp;</label> <input name="obj[data_feilds_time_start][][<%= time_frame_id %>]" class="input input-sm" type="number" value="<%= value[:start] %>"> <br>
									<label>End:&nbsp;&nbsp;&nbsp;</label> <input name="obj[data_feilds_time_end][][<%= time_frame_id %>]" class="input input-sm" type="number" value="<%= value[:end] %>"> <br>
								</div>
								<label>Text</label> <br>
								<textarea name="obj[data_feilds_value][][<%= time_frame_id %>]" class="textarea size-fullwidth"><%= value[:value] %></textarea> <br>
							<% elsif data[:type] == "link" then %>
								<%= submit_tag 'Previous Timeframe', :class => "btn size-halfwidth float-left", :type => 'button', :onclick => "toggleElementsDisplay(['time_frame[#{i}][#{time_frame_id}]', 'time_frame[#{i}][#{time_frame_id>0 ? time_frame_id-1 : data[:values].length-1}]']);" %> <%= submit_tag 'Next Timeframe', :class => "btn size-halfwidth float-left", :type => 'button', :onclick => "toggleElementsDisplay(['time_frame[#{i}][#{time_frame_id}]', 'time_frame[#{i}][#{time_frame_id<data[:values].length-1 ? time_frame_id+1 : 0}]']);" %> <br>
								<div id="time_frame_span[<%= i %>][<%= time_frame_id %>]">
									<label>Start:&nbsp;</label> <input name="obj[data_feilds_time_start][][<%= time_frame_id %>]" class="input input-sm" type="number" value="<%= value[:start] %>"> <br>
									<label>End:&nbsp;&nbsp;&nbsp;</label> <input name="obj[data_feilds_time_end][][<%= time_frame_id %>]" class="input input-sm" type="number" value="<%= value[:end] %>"> <br>
								</div>
								<label>Link</label> <br>
								<select name="obj[data_feilds_value][][<%= time_frame_id %>]" class="select size-fullwidth">
									<% if universes.length > 0 then %>
										<% universes_objs[universes[0][1]].each do |universe_obj| %>
											<% if universe_obj[1] == value[:value].to_i then %>
												<option selected value="<%= universe_obj[1] %>"><%= universe_obj[0] %></option>
											<% else %>
												<option value="<%= universe_obj[1] %>"><%= universe_obj[0] %></option>
											<% end %>
										<% end %>
									<% else %>
										<option disabled value="0">Please create a universe before creating objects</option>
									<% end %>
								</select> <br>
							<% end %>
						</div>
					<% end %>
					<div id="data_footer_span[<%= i %>]">
						<label>Enable time frames</label> <br>
						<%= hidden_field_tag "obj[data_feilds_time][]", "off" %>
						<%= check_box_tag "obj[data_feilds_time][]", "on", data[:timeframes], :onclick => "if (confirm('Are you sure you want to disable timeframes on this feild, Doing so will remove all data in this feild and set the value to the value of the first timeframe')) {toggleElementDisplay('time_frame_span[#{i}]');}" %>
					</div>
				<% else %>
					<% if data[:type] == "text" then %>
						<hr class="size-fullwidth"> <br>
						<div id="time_frame_span[<%= i %>]" style="display: none">
							<label>Start:&nbsp;</label> <input name="obj[data_feilds_time_start][][0]" class="input input-sm" type="number"> <br>
							<label>End:&nbsp;&nbsp;&nbsp;</label> <input name="obj[data_feilds_time_end][][0]" class="input input-sm" type="number"> <br>
						</div>
						<input name="obj[data_feilds_type][]" type="hidden" value="text">
						<label>Name</label> <br>
						<input name="obj[data_feilds_name][]" class="input" value="<%= data[:name] %>"> <br>
						<label>Text</label> <br>
						<textarea name="obj[data_feilds_value][][0]" class="textarea size-fullwidth"><%= data[:value] %></textarea> <br>
						<label>Enable time frames</label> <br>
						<%= hidden_field_tag "obj[data_feilds_time][]", "off" %>
						<%= check_box_tag "obj[data_feilds_time][]", "on", data[:timeframes], :onclick => "toggleElementDisplay('time_frame_span[#{i}]');" %>
					<% elsif data[:type] == "link" then %>
						<hr class="size-fullwidth"> <br>
						<div id="time_frame_span[<%= i %>]" style="display: none">
							<label>Start:&nbsp;</label> <input name="obj[data_feilds_time_start][][0]" class="input input-sm" type="number"> <br>
							<label>End:&nbsp;&nbsp;&nbsp;</label> <input name="obj[data_feilds_time_end][][0]" class="input input-sm" type="number"> <br>
						</div>
						<input name="obj[data_feilds_type][]" type="hidden" value="link">
						<label>Name</label> <br>
						<input name="obj[data_feilds_name][]" class="input" value="<%= data[:name] %>"> <br>
						<label>Link</label> <br>
						<select name="obj[data_feilds_value][][0]" class="select size-fullwidth">
							<% if universes.length > 0 then %>
								<% universes_objs[universes[0][1]].each do |universe_obj| %>
									<% if universe_obj[1] == data[:value].to_i then %>
										<option selected value="<%= universe_obj[1] %>"><%= universe_obj[0] %></option>
									<% else %>
										<option value="<%= universe_obj[1] %>"><%= universe_obj[0] %></option>
									<% end %>
								<% end %>
							<% else %>
								<option disabled value="0">Please create a universe before creating objects</option>
							<% end %>
						</select> <br>
						<label>Enable time frames</label> <br>
						<%= hidden_field_tag "obj[data_feilds_time][]", "off" %>
						<%= check_box_tag "obj[data_feilds_time][]", "on", data[:timeframes], :onclick => "toggleElementDisplay('time_frame_span[#{i}]');" %>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<div class="feild-frame float-left"></div>
		<div class="feild-frame float-left"></div>
		<div class="feild-frame float-left"></div>
		<div class="feild-frame float-left"></div>
	</div>
	
	<hr class="size-fullwidth">
	
	<br>
	<div id="add_field_btn">
		<%= submit_tag 'Add field', :class => "btn size-fullwidth", :type => 'button', :onclick => "toggleElementsDisplay(['new_field_form', 'add_field_btn']);" %> <br>
	</div>
	
	<div id="new_field_form" style="display: none;">
		<%= submit_tag 'Add field', :class => "btn size-fullwidth", :type => 'button', :onclick => "toggleElementsDisplay(['new_field_form', 'add_field_btn']);" %> <br>
		<label>Field type</label> <br>
		<%= submit_tag 'Text', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "" %>
		<%= submit_tag 'Link', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_link_field_form', 'new_field_form']);" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_other_field_form', 'new_field_form']);" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_other2_field_form', 'new_field_form']);" %>
		<br>
		<label>Name</label> <br>
		<input class="input" id="new_field_name"> <br>
		<label>Text</label> <br>
		<textarea class="textarea size-fullwidth" id="new_field_text"></textarea> <br>
		<%= submit_tag 'Add field', :class => "btn btn-primary btn-quarter", :type => 'button', :onclick => "addTextFieldToForm();" %>
	</div>
	<div id="new_link_field_form" style="display: none;">
		<%= submit_tag 'Add field', :class => "btn size-fullwidth", :type => 'button', :onclick => "toggleElementsDisplay(['new_link_field_form', 'add_field_btn']);" %> <br>
		<label>Field type</label> <br>
		<%= submit_tag 'Text', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_field_form', 'new_link_field_form']);" %>
		<%= submit_tag 'Link', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_other_field_form', 'new_link_field_form']);" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_other2_field_form', 'new_link_field_form']);" %>
		<br>
		<label>Name</label> <br>
		<input class="input" id="new_link_field_name"> <br>
		<label>Link</label> <br>
		<select class="select size-fullwidth" id="new_link_field_obj">
			<% if universes.length > 0 then %>
				<% universes_objs[universes[0][1]].each do |universe_obj| %>
					<option value="<%= universe_obj[1] %>"><%= universe_obj[0] %></option>
				<% end %>
			<% else %>
				<option disabled value="0">Please create a universe before creating objects</option>
			<% end %>
		</select> <br>
		<div style="height: 4px; font-size:4px;">&nbsp;</div>
		<%= submit_tag 'Add field', :class => "btn btn-primary btn-quarter", :type => 'button', :onclick => "addLinkFieldToForm();" %>
	</div>
	<div id="new_other_field_form" style="display: none;">
		<%= submit_tag 'Add field', :class => "btn size-fullwidth", :type => 'button', :onclick => "toggleElementsDisplay(['new_other_field_form', 'add_field_btn']);" %> <br>
		<label>Field type</label> <br>
		<%= submit_tag 'Text', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_field_form', 'new_other_field_form']);" %>
		<%= submit_tag 'Link', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_link_field_form', 'new_other_field_form']);" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_other2_field_form', 'new_other_field_form']);" %>
		<br>
		Other
	</div>
	<div id="new_other2_field_form" style="display: none;">
		<%= submit_tag 'Add field', :class => "btn size-fullwidth", :type => 'button', :onclick => "toggleElementsDisplay(['new_other2_field_form', 'add_field_btn']);" %> <br>
		<label>Field type</label> <br>
		<%= submit_tag 'Text', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_field_form', 'new_other2_field_form']);" %>
		<%= submit_tag 'Link', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_link_field_form', 'new_other2_field_form']);" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "toggleElementsDisplay(['new_other_field_form', 'new_other2_field_form']);" %>
		<%= submit_tag 'Other', :class => "btn btn-sm btn-quarter", :type => 'button', :onclick => "" %>
		<br>
		Other2
	</div>
	
	<br>
	<%= f.submit("Submit", :class => "btn btn-lg size-fullwidth btn-primary") %>
<% end%>