<h1 align="center">Welcome to Archivium</h1>
<br>
<div style="margin:0 auto; width: 90%;" class="feild-frame-container">
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #F44336;">
                    <br>
                    <h2 align="center">Characters</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My characters", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #4CAF50;">
                    <br>
                    <h2 align="center">Locations</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My characters", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #9e9e9e;">
                    <br>
                    <h2 align="center">Events</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My characters", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #a1887f;">
                    <br>
                    <h2 align="center">Archives</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My characters", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #4d4d4d;">
                    <br>
                    <h2 align="center">Documents</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My characters", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #64B5F6;">
                    <br>
                    <h2 align="center">Timelines</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My timelines", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame">
        <div class="card-container card">
            <%= link_to root_path, :class => 'link' do %>
                <div style="background-color: #ffc107;">
                    <br>
                    <h2 align="center">Items</h2>
                    <br>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "➕ New", root_path, :class => 'btn btn-sm btn-margin-narrow margin-side' %>
                <%= link_to "My timelines", root_path, :class => 'btn btn-sm' %>
            </div>
        </div>
    </div>
    <div class="feild-frame"></div>
    <div class="feild-frame"></div>
    <div class="feild-frame"></div>
    <div class="feild-frame"></div>
</div>
<br>